body {
	background: url(../images/background.jpg);
	font-family: Times New Roman, Times, serif;
	overflow-x: hidden;
}

#sitetitle {
	background: url(../images/header.png) repeat-x;
	height: 103px;
	margin-bottom: -3px;
	
	position: relative;
	z-index: 4;
}
#sitetitle > div {
	width: 883px;
	padding: 12px 60px 0 45px;
	margin: 0 auto;
	
	text-align: center;
	position: relative;
}

#wrapper {
	width: 980px;
	margin: 0 auto;
	
	position: relative;
	z-index: 2;
}

#menu {
	margin: 0 60px 0 45px;
	position: relative;
	z-index: 999;

	background: url(../images/menu.jpg) repeat-x;
}

#content {
	padding: 20px 60px 1px 45px;
	background: url(../images/body_bg.png) 0 0 repeat-y;
}
#content > div { position: relative; }

#footer {
	width: 980px;
	height: 59px;
	margin: 0 auto;
	position: relative;
	z-index: 2;

	background: url(../images/body_bg_bottom.png) no-repeat;
	line-height: 50px;
}
#footer > div {
	padding: 12px 90px 0 115px;	
}

#copyright {
	width: 980px;
	margin: 0 auto 15px;
}
#copyright > div {
	padding: 0 100px;
}