.moduletable {
	margin: 1em 0;
}
#header .moduletable { margin: 0; }


/* @group menu */
.moduletable.menu {
	margin: 0;
	padding: 0;
	
	height: 2em;
	line-height: 2em;
}

.moduletable.menu ul {
	margin: 0;
	padding: 0;
	
	list-style: none;
	text-align: center;
}

.moduletable.menu li {
	display: inline;
	padding: 0 10px;
	margin: 0;
}
/* @group drop menu */
.moduletable.dropmenu li {
	position: relative;
}
.moduletable.dropmenu ul ul {
	position: absolute;
	top: 100%;
	left: 0;
	min-width: 100%;
	
	display: none;
}
.moduletable.dropmenu ul li:hover ul {
	display: block;
}
.moduletable.dropmenu li li {
	float: none;
	display: block;
	line-height: 1.5em;
}
/* @end */

#menu .dropmenu ul ul {
	background: url(../images/menu.jpg);
}
/* @end */

/* @group Frills */
.frill1, .frill2, .frill3, .frill4, .frill5, .frill6 { position: absolute; }

.frill1, .frill2 {
	top: -80px;
	z-index: 4;

	width: 426px;
	height: 342px;
}
.frill1 { left: -250px; background: url(../images/frills/topleft.png) no-repeat; }
.frill2 { right: -250px; background: url(../images/frills/topright.png) no-repeat; }

.frill3, .frill4 {
	top: 140px;
	z-index: -1;

	width: 264px;
	height: 236px;
}
.frill3 { left: -130px; background: url(../images/frills/bottomleft.png) no-repeat; }
.frill4 { right: -130px; background: url(../images/frills/bottomright.png) no-repeat; }

.frill5, .frill6 {
	z-index: -1;

	width: 247px;
	height: 126px;
}
.frill5 { bottom: -100px; left: -150px; background: url(../images/frills/footerleft.png) no-repeat; }
.frill6 { bottom: -130px; right: -150px; background: url(../images/frills/footerright.png) no-repeat; }

.logos {
	clear: both;
	text-align: center;
}
/* @end */

/* @group Search */
#search {
	position: absolute;
	top: 0;
	right: 0;
}
/* @end */

/* Comments */
.CommentPoweredBy { display: none; }
.addComment { clear: both; }