.slideshowblock {
	position: relative;
	background: url(../images/background.png);
}
.slideshowblock .currentImage {
	background: transparent url(../images/trans.png);
	position: absolute;
	left: 0;
	top: 0;
}
.slideshowblock .newImage {
}

.slideshowblock .allImages {
	display: none;
}

.slideshowblock .scrollers {
	bottom: 10px;
	position: absolute;
	right: 35px;
}

.slideshowblock .scrollRight,
.slideshowblock .scrollLeft {
	float: left;
	cursor: pointer;
	margin: 0 5px;
	
	color: white;
	font-size: 20px;
}


.slideshowblock img { display: block; }