.moduletable {
	margin: 1em 0;
}



/* @group menu */
.moduletable.menu {
	margin: 0;
	padding: 0;
	
	height: 2em;
	line-height: 2em;
}


.moduletable.menu ul {
	margin: 0;
	padding: 0;
	
	list-style: none;
	
}

.moduletable.menu li {
	float: left;
	padding: 0 10px;
	margin: 0;
}
/* @group drop menu */
.moduletable.dropmenu li {
	position: relative;
}
.moduletable.dropmenu ul ul {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	
	display: none;
}
.moduletable.dropmenu ul li:hover ul {
	display: block;
}
.moduletable.dropmenu li li {
	float: none;
}

/* @end */
/* @end */
