/* @group ie6 redirect */
.ie6warn {
	background-color: #edee98;
	border-bottom: 1px solid #a66929;
 }
 .ie6warn p {
	line-height: 2em;
    margin: 0 1em;
}
/* @end */

/* @group clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }
/* @end */


/* @group spacing */
.width25 { width:  25%; }
.width50 { width:  50%; }
.width75 { width:  75%; }
.width33 { width:  33%; }
.width66 { width:  66%; }

.left { float: left; }
.right { float: right; }
.clear, .clr { clear: both; }